
<h1 style="color:green">Done!</h1>
<h2>You already added new task in our application</h2>

<p>Click on buttons below to see all Tasks about login user (Megan Morton)</p>

<button>@Html.ActionLink("NOT DONE :(" , "NotDoneTasks", "Task", new { id = 3 }, null)</button>
<button>@Html.ActionLink("DONE! :) " , "DoneTasks", "Task", new { id = 3 }, null)</button>
<button>@Html.ActionLink("IN PROGRESS :|" , "InProgressTasks", "Task", new { id = 3 }, null)</button>